.btn {
    background: #00000080;
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 48px;
    width: 48px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0);
    transition: .3s ease;
    font-size: 2rem;
    font-weight: bold;
}