body {
  background: linear-gradient(
    90deg, #ec4c24 0%, #d328b6 100%);
  color: #fff;
  margin: 0;
  font-family: "M PLUS Code Latin", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "M PLUS Code Latin", serif;
}
