input {
    border-radius: 0.75rem;
    font-size: 1.5rem;
    padding: 0.2rem;
    text-align: center;
    width: 100%;
    outline: 1px solid rgb(66, 3, 69);
    background-color: rgba(0, 0, 0, 0.5);
    color: #b4b4b4;
    margin: 4rem 0;
}

input:focus {
    outline: 2px solid greenyellow;
    color: #00ffe5;
}